<div class="header">
  <h3 class="text-muted">Meetup Angular</h3>
</div>

<div class="jumbotron">
  <h1>Visualisation with AngularJS</h1>
  <p class="lead">
    An introduction to SVG and how to bind data to graphical elements with AngularJS.
  </p>
</div>

<div class="row marketing">
  <h4>SVG</h4>
  <p>

	<svg width="500" height="500">
		<g transform="scale(2)translate(2, 1)">
		<rect x="0" y="0" width="200" height="100"></rect>
		<circle cx="100" cy="80" r="50" ></circle>
		</g>
	</svg>

  </p>


</div>

<div class="footer">
  <p><span class="glyphicon "></span> Toucan Toco</p>
</div>
